<div class="bounding">
    <canvas id="canvas" class="middle" width="1000" height="1000"></canvas>
</div>

{{!-- Globals --}}
<script src="/javascripts/globals.js"></script>
{{!-- Level --}}
<script>
{{{puzzle}}}
</script>
{{!-- Objects --}}
<script src="/javascripts/objects/background.js"></script>
<script src="/javascripts/objects/cell.js"></script>
<script src="/javascripts/objects/wingrid.js"></script>
<script src="/javascripts/objects/grid.js"></script>
<script src="/javascripts/objects/toggle.js"></script>
{{!-- Core --}}
<script src="/javascripts/game.js"></script>