<div class="bounding">
    <form action="/login" method="POST" enctype="multipart/form-data">
    <div class="container">
        <h1>Login</h1>
        {{#if message}}
        <h3>{{message}}</h3>
        {{/if}}
        <hr>

        <div class="row justify-content-center input-line">
            <div class="col-lg-3">
                <label for="email" class="text-label"><b>Email</b></label>
            </div>
            <div class="col-lg-3">
                <input type="text" placeholder="Enter Email" name="email" required>
            </div>
        </div>

        <div class="row justify-content-center input-line">
            <div class="col-lg-3">
                <label for="password" class="text-label"><b>Password</b></label>
            </div>
            <div class="col-lg-3">
                <input type="password" placeholder="Enter Password" name="password" required>
            </div>
        </div>

        <hr>

        <div class="row justify-content-center">
            <div class="col-lg-2 canceldiv">
                <button type="button" onclick="window.history.back()" class="cancelbtn">Cancel</button>
            </div>
            <div class="col-lg-2">
                <button type="submit" class="loginbtn">Login</button>
            </div>
        </div>
    </div>
    </form>
</div>