<div class="bounding">
    <canvas id="canvas" class="middle" width="1000" height="1000" touch-action="none"></canvas>
</div>
<canvas id="thumb" width="50" height="50" style="display: none;"></canvas>

{{!-- Globals --}}
<script src="javascripts/globals.js"></script>
{{!-- Objects --}}
<script src="javascripts/objects/background.js"></script>
<script src="javascripts/objects/colorcell.js"></script>
<script src="javascripts/objects/fluidgrid.js"></script>
<script src="javascripts/objects/toggleblackorwhite.js"></script>
<script src="javascripts/objects/toggleblackorcolor.js"></script>
<script src="javascripts/objects/colorpicker.js"></script>
<script src="javascripts/objects/carousel.js"></script>
<script src="javascripts/objects/exportbutton.js"></script>
<script src="javascripts/objects/gridselector.js"></script>
{{!-- Core --}}
<script src="javascripts/maker.js"></script>